# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- List popular languages for Data Science
- List commonly used libraries used by  Data Scientists
- Data Science Tools used
- Examples of evaluating arithmetic expressions
- Expression for conversion of minutes into hours

### Overview
Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFLow
2. Numpy
3. Pandas
4. Scipy

| Data Science Tools |
|--------------------|
|RStudio|
|Apache Spark|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python
- 2+3
- 2 ** 3
- 2//4

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = mins / 60 
print(hours)

3.3333333333333335

## Author 
Prithvi raj